/**
 * Namespace: `c-`
 * Block: `collapsable-panel`
 * -----------------------------------------------------------------------------
 */

.c-collapsable-panel {
  border: 1px solid hy_get-value($hy_colors, 'grey','e2');
  box-shadow: 0 1px 3px 1px hy_get-value($hy_colors, 'grey','e2');
}
.c-collapsable-panel__header {
  cursor: pointer;
  padding: 10px 15px;
  position: relative;

  &:after {
    position: absolute;
    right: 1.0em;
    top: 0.75em;
    font-size: 0.75em;
    font-family: "Telus Icon";
    content: '\E114';
    color: hy_get-value($hy_colors, 'green','57');
  }

  &--open {
    &:after {
      content: '\E117';
    }
  }
}

.c-collapsable-panel__body {
  border-top: 1px solid hy_get-value($hy_colors, 'grey','e2');
  max-height: 0px;
  padding: 0 15px;
  transition: all .3s ease-in-out;
	overflow: hidden;
  opacity: 0;

  &--open {
    opacity: 1;
    padding: 15px 15px;
    max-height: 9999px;
  }
}
