.sg_c-api-table {
  border-spacing: 0 10px;
  width: 100%;
  tr {
    flex: 1;
    &:hover {
      background-color: #eee;
    }
  }

  th{
    background-color: #eee;
  }

  td {
    text-align: center;
  }
}
