<div class="c-mega-nav-mobile">
  <div class="c-mega-nav-mobile__header">
    <a href="#" class="c-mega-nav-mobile__header-nav-toggle" title="Menu" @click.prevent="toggleMegaNav">
      Placeholder
    </a>
    <img src="https://static.telus.com/common/images/header/TELUS-logo.svg" alt="TELUS Logo">
  </div>
  <div class="c-mega-nav-mobile__nav-wrapper" transition="expand" v-show="isMegaVisible">
    <search-bar></search-bar>
    <ul class="c-mega-nav-mobile__global-nav">
      <li class="c-mega-nav-mobile__global-nav-item" v-for="navItem in globalNav.links | filterBy !!hasSubNav">
        <a :href="getLinkHrefWithAnalyticTag(navItem)">{{navItem.title}}</a>
      </li>
    </ul>
    <ul class="c-mega-nav-mobile__primary-nav">
      <template v-for="primaryNavLink in data.primaryNavLinks">
        <template v-if="!primaryNavLink.hasSecondaryNav">
          <li class="c-mega-nav-mobile__primary-nav-item">
            <a :href="getLinkHrefWithAnalyticTag(primaryNavLink)">{{primaryNavLink.title}}</a>
          </li>
        </template>
        <template v-else>
          <li class="c-mega-nav-mobile__primary-nav-item">
            <a @click.prevent="toggleSubNav(primaryNavLink.secondaryNavLinks.mobility)" href="#">{{primaryNavLink.secondaryNavLinks.mobility.title}}</a>
            <ul class="c-mega-nav-mobile__secondary-nav" transition="expand" v-show="!!primaryNavLink.secondaryNavLinks.mobility.isSubNavVisible">
              <template v-for="group in primaryNavLink.secondaryNavLinks.mobility.tertiaryNavLinks.groups">
                <li class="c-mega-nav-mobile__secondary-nav-item" v-for="link in group.links">
                  <a :href="getLinkHrefWithAnalyticTag(link)">{{link.title}}</a>
                </li>
              </template>
            </ul>
          </li>
          <!-- AB, BC -->
          <template v-if="subNavTemplateType === 'sub-nav-template-type-1'">
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a @click.prevent="toggleSubNav(primaryNavLink.secondaryNavLinks.optiktv)" href="#">{{primaryNavLink.secondaryNavLinks.optiktv.title}}</a>
              <ul class="c-mega-nav-mobile__secondary-nav" transition="expand" v-show="!!primaryNavLink.secondaryNavLinks.optiktv.isSubNavVisible">
                <template v-for="group in primaryNavLink.secondaryNavLinks.optiktv.tertiaryNavLinks.groups">
                  <li class="c-mega-nav-mobile__secondary-nav-item" v-for="link in group.links">
                    <a :href="getLinkHrefWithAnalyticTag(link)">{{link.title}}</a>
                  </li>
                </template>
              </ul>
            </li>
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a :href="getLinkHrefWithAnalyticTag(primaryNavLink.secondaryNavLinks.sattv)">{{primaryNavLink.secondaryNavLinks.sattv.title}}</a>
            </li>
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a @click.prevent="toggleSubNav(primaryNavLink.secondaryNavLinks.internet)" href="#">{{primaryNavLink.secondaryNavLinks.internet.title}}</a>
              <ul class="c-mega-nav-mobile__secondary-nav" transition="expand" v-show="!!primaryNavLink.secondaryNavLinks.internet.isSubNavVisible">
                <template v-for="group in primaryNavLink.secondaryNavLinks.internet.tertiaryNavLinks.groups">
                  <li class="c-mega-nav-mobile__secondary-nav-item" v-for="link in group.links">
                    <a :href="getLinkHrefWithAnalyticTag(link)">{{link.title}}</a>
                  </li>
                </template>
              </ul>
            </li>
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a @click.prevent="toggleSubNav(primaryNavLink.secondaryNavLinks.homePhone)" href="#">{{primaryNavLink.secondaryNavLinks.homePhone.title}}</a>
              <ul class="c-mega-nav-mobile__secondary-nav" transition="expand" v-show="!!primaryNavLink.secondaryNavLinks.homePhone.isSubNavVisible">
                <template v-for="group in primaryNavLink.secondaryNavLinks.homePhone.tertiaryNavLinks.groups">
                  <li class="c-mega-nav-mobile__secondary-nav-item" v-for="link in group.links">
                    <a :href="getLinkHrefWithAnalyticTag(link)">{{link.title}}</a>
                  </li>
                </template>
              </ul>
            </li>
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a :href="getLinkHrefWithAnalyticTag(primaryNavLink.secondaryNavLinks.dealBundles)">{{primaryNavLink.secondaryNavLinks.dealBundles.title}}</a>
            </li>
          </template>
          <!-- End of AB, BC -->

          <!-- MB, NB, NL, NT, NS, NU, ON, PE, SK, YT -->
          <template v-if="subNavTemplateType === 'sub-nav-template-type-2'">
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a :href="getLinkHrefWithAnalyticTag(primaryNavLink.secondaryNavLinks.mobileInternet)">{{primaryNavLink.secondaryNavLinks.mobileInternet.title}}</a>
            </li>
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a :href="getLinkHrefWithAnalyticTag(primaryNavLink.secondaryNavLinks.deals)">{{primaryNavLink.secondaryNavLinks.deals.title}}</a>
            </li>
          </template>
          <!-- End of MB, NB, NL, NT, NS, NU, ON, PE, SK, YT -->

          <!-- QC -->
          <template v-if="subNavTemplateType === 'sub-nav-template-type-3'">
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a :href="getLinkHrefWithAnalyticTag(primaryNavLink.secondaryNavLinks.mobileInternet)">{{primaryNavLink.secondaryNavLinks.mobileInternet.title}}</a>
            </li>
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a :href="getLinkHrefWithAnalyticTag(primaryNavLink.secondaryNavLinks.deals)">{{primaryNavLink.secondaryNavLinks.deals.title}}</a>
            </li>
            <li class="c-mega-nav-mobile__primary-nav-item">
              <a :href="getLinkHrefWithAnalyticTag(primaryNavLink.secondaryNavLinks.residentalServices)">{{primaryNavLink.secondaryNavLinks.residentalServices.title}}</a>
            </li>
          </template>
          <!-- End QC -->
        </template>
      </template>
    </ul>
  </div>
</div>
