body {
  background-color: #f5f6f7;
}

.sg_c-site__main {
  padding-top: 68px;
  margin-left: 25rem;
}

.sg_c-demo {
  margin: 20px 0;
}

.sg_c-demo__container {
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 25px;
  margin: 20px 0;
}
