
/**
 * Namespace: `sg_c-`
 * Block: `main`
 * -----------------------------------------------------------------------------
 */
.sg_c-site__main {
  margin-left: 25rem;
}

.sg_c-demo {
  margin: 20px 0;
}

.sg_c-demo__container,  .sg_c-demo__snippet{
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 25px;
  margin: 20px 0;
}

.sg_c-demo__snippet {
}

.sg_c-api-table {
  width: 100%;
  tr {
    flex: 1;
  }

  th{
    background-color: #eee;
  }

  td {
    text-align: center;
  }
}
