body {
  background-color: #f5f6f7;

  &.js-full-screen .sg_c-demo__container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
  }
}

.sg_c-site__main {
  padding-top: 68px;
  margin-left: 25rem;
  @include hy_media-below("md") {
    margin-left: 0;
  }

}


.sg_c-demo {
  margin: 20px 0;
}

.sg_c-demo__container {
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 25px;
  margin: 20px 0;
}
