header.sg_c-site-header {
  background-color: #4b286d;
  height: 68px;
  text-align: left;
  position:fixed;
  width: 100%;
  z-index: 9999;

  .sg_c-site-header__container {
    height: 100%;
    width: 100%;

    img.logo {
      height: 100%;
      padding: 20px;
      display: inline-block;
      max-width: 100%;
    }
  }
  .sg_c-site-header__togglebtn {
    color: #fff;
    font-size: 2rem;
    margin: 0;
    background: rgba(255, 255, 255, .1);
    padding: 1.5rem;
    float: left;
    cursor: pointer;
    border: 0;
    height: 100%;
    display: inline-block;
  }
}
