/**
 * Namespace: `c-`
 * Block: `overlay-container`
 * -----------------------------------------------------------------------------
 */

.no-scroll {
  overflow-x: hidden;
  overflow: hidden;
  overflow-y: hidden;
  position: relative;;
  height: 100%;
}

.c-overlay-container {
}
.c-overlay-container__curtain {
    opacity: 0;
    transition: opacity 1.3s ease-in-out;

    &--active {
      opacity: 1;
      background: rgba(0, 0, 0, 0.55);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
}

.c-overlay-container__overlays {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transform: translateX(100%);
    transition: 1s ease-in-out;

    @include hy_media-below('md')  {
        width: 100%;
    }
    @include hy_media-above('md')  {
        width: 66%;
    }

    &--active {
      transform: translateX(0);
      z-index: 99999;
    }
}
