<nav class="sg_c-nav hy_u-hide hy_u-show@md" @click="hideNav">
  <h2 class="sg_c-nav__section">INTRODUCTION</h2>
  <ul class="hy_o-list" @click="hideNav">
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/get-started', activeClass: 'sg_c-nav__link--active'}" >
        Get Started
      </a>
    </li>
  </ul>
  <h2 class="sg_c-nav__section">COMPONENTS</h2>
  <ul class="hy_o-list">
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/alert', activeClass: 'sg_c-nav__link--active'}" >
        Alert
      </a>
    </li>
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/spinner', activeClass: 'sg_c-nav__link--active'}" >
        Spinner
      </a>
    </li>
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/step-tracker', activeClass: 'sg_c-nav__link--active'}" >
        Step Tracker
      </a>
    </li>
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/tabs', activeClass: 'sg_c-nav__link--active'}">
        Tabs
      </a>
    </li>
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/overlay', activeClass: 'sg_c-nav__link--active'}">
        Overlay
      </a>
    </li>
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/legal', activeClass: 'sg_c-nav__link--active'}">
        Legal
      </a>
    </li>
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/legal-overlay', activeClass: 'sg_c-nav__link--active'}">
        Legal + Overlay
      </a>
    </li>
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/collapsable-panel', activeClass: 'sg_c-nav__link--active'}">
        Collapsable Panel
      </a>
    </li>
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/hy-header', activeClass: 'sg_c-nav__link--active'}">
        Global Header
      </a>
    </li>
  </ul>
  <h2 class="sg_c-nav__section">DIRECTIVES</h2>
  <ul class="hy_o-list">
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/overlay-opener', activeClass: 'sg_c-nav__link--active'}" >
        Overlay Opener
      </a>
    </li>
    <li class="sg_c-nav__list-item">
      <a class="sg_c-nav__link" v-link="{path: '/set-focus', activeClass: 'sg_c-nav__link--active'}" >
        Set Focus
      </a>
    </li>
  </ul>
</nav>
