/**
 * Namespace: `sg_c-`
 * Block: `nav`
 * -----------------------------------------------------------------------------
 */
.sg_c-nav {
  display: block;
  position: fixed;
  left: 0;
  width: 25rem;
  height: 100%;
  border-right: 0.1rem solid #e2e2e2;
  padding: 2rem;
  padding-top: 68px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  z-index: 999;
}

.sg_c-nav__section {
  font-family: "Telus Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  border-bottom: 0.1rem solid #e2e2e2;
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin: 1rem 0 1rem 0;
}

.sg_c-nav__list-item {
  padding: 5px 0;
}

.sg_c-nav__link {
  &:hover {
    color: #8c68a6;
  }

  &--active {
    color: #57a708
  }
}
